---
---

@import "{{ site.theme }}";

html { font-size:80% }

.page-header { background-color:#f3385b; background-image:none; padding:1rem; }

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #d14;
}

a {
    color: #990000;
}
.main-content img {
    border: solid 1px #dce6f0;
}

/*@media screen and (min-width:64em)*/
.project-name {
    font-size: 2.25rem;
    font-weight: normal;
}

.right { float:right; }
