---
---

@import "{{ site.theme }}";

.page-header { background-color:#f3385b; background-image:none; padding:1rem; }

/*@media screen and (min-width:64em)*/
.project-name {
    font-size: 2.25rem;
    font-weight: normal;
}

.right { float:right; }
